<div class="form-container">
    <h1>Enter Product</h1>
    <form action="/api/products" method="POST">
        <label for="title">Title: </label>
        <input id="title" name="title">
        <label for="price">Price: </label>
        <input id="price" name="price">
        <label for="thumbnail">Thumbnail: </label>
        <input id="thumbnail" name="thumbnail">
        <input type="submit" class="btn btn-submit">
    </form>
</div>
    <a class="btn btn-primary">To Products</a>
